body {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

a {
  text-decoration: none;
}


header>.inner {
  height: 120px;
}

.inner {
  width: 1100px;
  position: relative;
  margin: 0 auto;

}


header {
  background-color: #f6f5f0;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  top: 0;
  /* z-index: 9; */
}

img {
  display: block;
}

.logo {
  height: 80px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}


.submenu {
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
}

ul.menu {
  display: flex;
}

ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #f4d5d5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

ul.menu li:first-child::before {
  display: none;
}

ul.menu li a {
  padding: 10px 10px;
  color: gray;
}

ul.menu li a:hover {
  color: black;
}


.search {
  position: relative;
  height: 30px;
}


.search input {
  width: 40px;
  height: 28px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;

  background-color: white;
  transition: width .4s;
}

.search input:focus {
  width: 150px;
}


.material-icons {
  position: absolute;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  transition: .4s;
}

.search.focused .material-icons {
  opacity: 0;
}

.mainmenu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.itemmenu {
  display: block;
  padding: 10px 20px 35px;

}

.item:hover.itemmenu {
  background-color: #2c2a29;
  color: #669900;

  /* 좌상단부터 시계 방향 */
  border-radius: 6px 6px 0 0;

}


.itemcontent {
  background-color: beige;
  width: 100%;
  position: fixed;
  left: 0;
}




.contentmenu {}