/* 스크롤 이동을 부드럽게 */
html {
  scroll-behavior: smooth;
}

/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */

  /* height: 3000px; */
}

a {
  text-decoration: none;
}

img {
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

.inner {
  /* 가로 너비를 가진 블록 요소에 margin: 0 auto;를 줄 경우, 부모 범위안에서 가운데 정렬 */
  width: 1100px;
  /* 반응형으로 작업하고 싶다면 max-width 줘야함 */
  /* max-width: 1100px; */
  margin: 0 auto;
  position: relative;
}

/* 전역 버튼 스타일 */
/* 버튼과 같이 여러 곳에서 반복 사용되는 요소를 공통 스타일로 작업하면 매번 다시 작성할 필요가 없음 */
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: center;
  cursor: pointer;


  /* a, span 같은 인라인 요소를 버튼으로 사용할 수도 있으니 미리 블록으로 지정 */
  display: block;

  transition: .4s;
}

/* (참고) 커서 모양 커스텀 가능 */
/* cursor: url("https://blog.kakaocdn.net/dn/BQXpN/btq3qNR67Lg/8tx8tGzkOcr5BuX5dyIaKk/img.png") 58 58, auto; */

.btn:hover {
  background-color: #f6f5f0;
  color: #fff;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

/* BACK TO POSITIONS */
.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-left {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}

.back-to-position.to-right {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-1 {
  transition-delay: .3s;
}

.show .back-to-position.delay-2 {
  transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  transition-delay: .9s;
}




/* header */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;

  /* 고정된 헤더 만들기 */
  width: 100%;
  /* 가로 너비를 지정하지 않으면 최소한으로 줄어드려고 함 */
  position: fixed;
  top: 0;
  z-index: 9;
}

header>.inner {
  height: 120px;
}

header .logo {
  /* 로고의 수직 가운데 배치 */
  height: 75px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;

  /* 메누와 검색 영역을 수평 정렬 */
  display: flex;
}

header .sub-menu ul.menu {
  /* 메뉴 아이템(li)을 수평 정렬 */
  display: flex;
  font-family: Arial, sans-serif;
}

/* 메뉴 아이템 사이 구분선 만들기 */
header .sub-menu ul.menu li::before {
  /* 필수 속성 content */
  content: "";

  display: block;
  width: 1px;
  height: 12px;
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
  bottom: 0;

  /* 수직 가운데 배치 */
  margin: auto;
}

/* 메뉴 아이템 첫번째 요소 구분선 숨기기 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  /* 위-아래 여백 적용을 위해 변경 block함 */
  display: block;

  /* 클릭할 수 있는 영역을 넓혀주는 효과 */
  padding: 11px 16px;

  font-size: 13px;
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  /* 박스 사이즈의 기준을 보더까지 잡겠다 */
  box-sizing: border-box;

  /* 보더 바깥쪽 테두리인데 잘 안 씀(보더를 씀) */
  outline: none;

  background-color: #fff;
  color: #777;
  font-size: 12px;

  transition: width .4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #659602;
}

header .sub-menu .search {
  position: relative;
  height: 34px;
}

header .sub-menu .search .material-icons {
  position: absolute;
  height: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
  transition: .4s;
}

/* 검색창 포커스 시 검색 아이콘 투명화 */
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;

  /* 드롭다운 될 요소가 더 위에 보이게 하려고 */
  z-index: 1;
}

header .main-menu .item .item__name {
  /* 위-아래 패딩 적용을 위해 block으로 변경 */
  display: block;

  padding: 10px 20px 34px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #333;
}

header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;

  /* 좌상단부터 시계 방향 */
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  /* background-color: orange; */

  /* 뷰포트 기준으로 배치, absolute를 사용하면 부모 요소 기준으로하므로 화면의 좌우 끝까지 늘어날 수 없음 */
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu>ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu>ul>li {
  /* 하위 메뉴 가로 너비를 통일 */
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li>h4 {
  padding: 3px 0 12px;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");

  /* 패턴 이미지가 반복적으로 출력됨 */
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;

  /* x축거리, y축거리, 흐림처리(blur), 범위, 확대/축소(spread) 범위, 색상 */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  /* 헤더가 fixed 되어 일반 배치 흐름에서 벗어남(주변 요소들과 상호작용하지 않음) */
  /* 헤더의 높이만큼 외부 여백 추가 */
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}

.visual .inner {
  height: 646px;
  /* background-color: lightblue; */
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  /* 순차적으로 요소 보이기 - 투명한 상태에서 시작되도록 */
  opacity: 0;
}

/* NOTICE */
.notice {
  position: relative;
}

.notice .bg-left {
  width: 50%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}

.notice .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}

.notice .inner {
  display: flex;
  height: 62px;
  /* border: 4px solid red */
}

.notice .inner__left {
  /* 방법1. %를 사용하여 비율 나누기 */
  width: 70%;

  /* 방법2. flex를 사용하여 비율 나누기 */
  /* flex: 7; */

  background-color: #333;
  display: flex;
  align-items: center;
}

.notice .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .inner__left .swiper {
  /* background-color: orange; */
  height: 62px;

  /* 여기서는 flex:1; 써도 같은 결과*/
  flex-grow: 1;
}

.notice .inner__left .swiper .swiper-slide {
  display: flex;
  align-items: center;
  height: 62px;
}

.notice .inner__left .swiper .swiper-slide a {
  color: #fff;
}



.notice .inner__left .notice-more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .inner__left .notice-more .material-icons {
  /* 머리티얼 아이콘은 글자 관련 속성이 적용됨 */
  color: #fff;
  font-size: 30px;
}

.notice .inner__right {
  /* 방법1. %를 사용하여 비율 나누기 */
  width: 30%;

  /* 방법2. flex를 사용하여 비율 나누기 */
  /* flex: 3; */

  display: flex;

  /* 오른쪽으로 */
  justify-content: flex-end;

  align-items: center;
}

.notice .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notice .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

/* promotion */
.promotion {
  height: 663px;
  background-color: #f6f5ef;
  display: flex;

  /* 슬라이드를 수평 가운데 정렬 */
  justify-content: center;

  /* 페이지 번호 요소 배치를 위해 */
  position: relative;

  overflow: hidden;
  transition: height .4s;
}

.promotion.hide {
  height: 0;

  /* display 속성을 사용하면 애니메이션 효과 못 넣음 
  (none -> block 될 때 중간 과정이 없기 때문에)*/
}

.promotion .swiper {
  /* 이미지 크기(819px) 3개 && 사이 여백(10px) 2개 = 2477px*/
  width: calc(819px * 3 + 10px * 2);
  height: 553px;

  /* 2477px 유지를 위해 감소 너비 비율을 0으로 */
  flex-shrink: 0;
}

.promotion .swiper-slide {
  /* 모든 슬라이드는 반투명하게, active 한 것만 불투명하게 */
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}

.promotion .swiper-slide-active {
  opacity: 1;
}

.promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;

  /* absolute를 이용한 수평 가운데 배치 */
  left: 0;
  right: 0;
  margin: auto;
}

.promotion .swiper-pagination {
  position: absolute;
  bottom: 40px;

  /* (라이브러리에서 10이 적용됨) 헤더의 z-index가 9이기때문에 1로 덮어씌움 */
  z-index: 1;
}

.promotion .swiper-pagination .swiper-pagination-bullet {
  /* 기존 배경색은 투명하게 숨기고, 배경이미지를 사용 */
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
}

.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");

}

/* 쉼표로 구분해서 다중 선택으로 공통 스타일 지정 */
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  color: #333;
  transition: .4s;
}

.promotion .swiper-button-prev {
  /* 가운데로 몰아넣고 마진으로 위치 조정 */
  left: 50%;
  margin-left: -480px;
}

.promotion .swiper-button-next {
  /* 가운데로 몰아넣고 마진으로 위치 조정 */
  right: 50%;
  margin-right: -480px;
}

.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}

.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
  display: none;
}

/* rewards */
.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

.rewards .inner {
  height: 241px;
  background-image: url("../images/rewards.jpg");
}

.rewards .btn-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 24px;
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .btn-group .btn.gift {
  margin-top: 10px;

  /* flex 컨테이너 내부에서 최대한의 너비를 쓸 수 있도록, flex:1;을 써도 같은 결과 */
  flex-grow: 1;
}

/* YOUTUBE */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;

  /* 정가운데 배치 방법3 */
  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* 영상 출력 넘치는 부분 숨기기 */
  overflow: hidden;
}

.youtube .youtube__area {
  /* 유튜브의 표준 영상 비율 16:9 */
  width: 1920px;
  height: 1080px;
  /* background-color: orange; */

  /* 정가운데 배치하는 기술 (3가지) */
  position: absolute;

  /* 방법1 */

  /* 부모 50% 위치에 배치  */
  /* left은 수평방향으로 배치 top은 수직방향으로 배치 */
  left: 50%;
  top: 50%;

  /* margin을 이용해서 정가운데로 옮기기 - 가로/세로 너비의 절반만큼 */
  margin-left: calc(1920px / -2);
  margin-top: calc(1080px / -2);

  /* 방법2 */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */

  /* 방법3 */
}

#player {
  width: 100%;
  height: 100%;
}

.youtube .youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  background-image: url("../images/video_cover_pattern.png");
}

.youtube .inner {
  height: 100%;
  /* background-color: royalblue; */
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}


/*  SEASON PRODUCT */
.season-product {
  background-image: url("../images/season_product_bg.jpg");
}

.season-product .inner {
  height: 400px;
}

.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px
}

.season-product .text-group .title {
  margin-bottom: 10px;
}

.season-product .text-group .description {
  margin-bottom: 15px;
}

/* reserve-coffee */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}

.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");

  /* 배경 이미지에 시차 효과(parallax 주기 */
  /*  배경 이미지가 뷰포트에 고정 */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  /* border: 10px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 100px;

  /* 정렬 영역이 충분하면 줄바꿈 되지 않음, 너비를 제안해서 강제로 줄바꿈 */
  width: 362px;
}

.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}

/* RESERVE STORE */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");

  /* 배경 이미지에 시차 효과(parallax 주기 */
  /*  배경 이미지가 뷰포트에 고정 */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .modal {
  width: 334px;
  height: 334px;

  /* 회전하는 요소의 부모 요소에 원근 거리를 추가 */
  perspective: 600px;
}

.reserve-store .modal .front,
.reserve-store .modal .back {
  position: absolute;

  /* 회전된 요소의 뒷면을 숨김 */
  backface-visibility: hidden;

  transition: 1s;
}

.reserve-store .modal .front {
  /* 명시적으로 작성(생략 가능) */
  transform: rotateY(0deg);
}

.reserve-store .modal:hover .front {
  transform: rotateY(180deg);
}

.reserve-store .modal .back {
  transform: rotateY(-180deg);
}

.reserve-store .modal:hover .back {
  transform: rotateY(0deg);
}

.reserve-store .modal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}



/* FIND STORE */
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}

.find-store .inner {
  height: 400px;
}

.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}

.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.find-store .picture1 {
  position: absolute;
  top: -60px;
  left: 0;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .5);
  border-radius: 50%;
}

.find-store .picture2 {
  position: absolute;
  top: 150px;
  left: 250px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .5);
  border-radius: 50%;
}

.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}

.find-store .text-group .title {
  margin-bottom: 20px;
}

.find-store .text-group .description {
  margin-bottom: 20px;
}


/*  AWARDS */
.awards {
  background-color: #272727;
}

.awards .inner {
  padding: 40px 0;
}

.awards .swiper-button-prev,
.awards .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 3;
  position: absolute;
}

.awards .swiper-button-prev {
  left: -100px;
}

.awards .swiper-button-next {
  right: -100px
}

.awards .swiper-button-prev:hover,
.awards .swiper-button-next:hover {
  background-color: #fff;
  color: #333;
}

.awards .swiper-button-prev::after,
.awards .swiper-button-next::after {
  display: none;
}

/* footer */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}

footer .inner {
  padding: 40px 0 60px 0;
}

footer .menu {
  display: flex;
  justify-content: center;
}

footer .menu li {
  position: relative;
}

/* 메뉴 아이템 사이 구분선 만들기 */
footer .menu li::before {
  /* 필수 속성 content */
  content: "";

  display: block;
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;

  /* 수직 가운데 배치 */
  margin: auto;
}

footer .menu li:first-child::before {
  display: none;
}

footer .menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;

  /* 위-아래 여백 적용을 위해 */
  display: block;

  /* 클릭할 수 있는 범위를 늘려주기 위함 */
  padding: 15px;
}

footer .menu li a.green {
  color: #669900;
}

footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

footer .btn-group .btn {
  font-size: 12px;
}

footer .btn-group .btn+.btn {
  margin-left: 10px;
}

footer .info {
  margin-top: 30px;
  text-align: center;
}

footer .info span {
  color: #999;
  font-size: 12px;
}

footer .info span+span {
  margin-left: 20px;
}

footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

footer .logo {
  /* img 요소가 display: block; + margin: 0 auto;인 경우, width 속성이 없이도 가운에 정렬이 가능함 */
  margin: 30px auto 0;
}

/* SCROLL TO TOP */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}